<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
                <section class="header-top" >
                    <div class="header-top-logo">
                        <a href="/index"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="header-logo-width"></a>
                    </div>
                   
                    <div class="header-top-search">
                        <form class="form-grow" action="/">
                            <input type="text" placeholder="Buscar productos, marcas..." class="header-search-input">
                        </form>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    
                    <div class="header-top-text">
                        <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
                    </div>
                </section>
                
                
                <section class="header-navbar-max">
                    
                    <div >
                        <ul class="header-navbar">
                            <li> <a href="/">Home</a>  </li>
                            <li> <a href="#">Ofertas</a>  </li>
                            <li> <a href="#">Tiendas Oficiales</a>  </li>
                            <li> <a href="#">Vender</a>  </li>
                            <li> <a href="#">Ayuda</a>  </li>
                        </ul>
                    </div>
                   
                    <div>
                        <ul class="header-navbar">
                            <li> <a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                            <li> <a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                            <li> <a href="#">Carrito <i class="fa-solid fa-basket-shopping"></i></a></li>
                        </ul>
                    </div>
                    
                </section>
                <section class="header-hamburger">
                    <nav class="hamb-container">
                        <i class="fas fa-bars hamb-container-mac" aria-hidden="true"></i>
                    </nav>
                </section>
        
            </div>
        </header>
        <main>
        <section>
            <div class="main-banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </div>
        </section>
        
        <section>
            <h3 class="main-titulares">Basado en tu última visita</h3>
            <div class="ultima-visita"> 
                <article class="main-article">
                    <div class="article-img" >
                        <img class="main__articleImg" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    </div>
                    <div class="article-text">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <i class="fa-solid fa-truck main-fa-truck"></i>
                    </div>
                    <div class="article-bottom">
                        <p class="article-title">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="main-article">
                    <div class="article-img" >
                        <img class="main__articleImg" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    </div>
                    <div class="article-text">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <i class="fa-solid fa-truck main-fa-truck"></i>
                    </div>
                    <div class="article-bottom">
                        <p class="article-title">Mac Book Pro 2019</p>
                    </div>
                </article>
                
                <!-- inicio ultima visita celular s10  -->
                <article class="main-article">
                    <div class="article-img" >
                        <img class="main__articleImg" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    </div>
                    <div class="article-text">
                        <p class="precio">$70.000</p>
                        <p class="descuento">5% off</p>
                        <i class="fa-solid fa-truck main-fa-truck"></i>
                    </div>
                    <div class="article-bottom">
                        <p class="article-title">Samsung Galaxy S10</p>
                    </div>
                </article>
                
                <!-- inicio ultima visita Smart TV 43 " -->
                <article class="main-article">
                    <div class="article-img" >
                        <img class="main__articleImg" src="/images/img-tv-samsung-smart.jpg" alt="Samsung Smart TV 43'">
                    </div>
                    <div class="article-text">
                        <p class="precio">$100.000</p>
                        <p class="descuento">30% off</p>
                        <i class="fa-solid fa-truck main-fa-truck"></i>
                    </div>
                    <div class="article-bottom">
                        <p class="article-title">Samsung Smart TV 43"</p>
                    </div>
                </article>

            </div>

        </section>

        <section>
            <h3 class="main-titulares">Ofertas</h3>
                
                <div class="ultima-visita">
                    <article class="main-article">
                        <div class="article-img" >
                            <img class="main__articleImg" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                        </div>
                        <div class="article-text">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>
                            <i class="fa-solid fa-truck main-fa-truck"></i>
                        </div>
                        <div class="article-bottom">
                            <p class="article-title">Cafetera Moulinex</p>
                        </div>
                    </article>
                    
                    <article class="main-article">
                        <div class="article-img" >
                            <img class="main__articleImg" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                        </div>
                        <div class="article-text">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                            <i class="fa-solid fa-truck main-fa-truck"></i>
                        </div>
                        <div class="article-bottom">
                            <p class="article-title">Mac Book Pro 2019</p>
                        </div>
                    </article>
                    
                    <article class="main-article">
                        <div class="article-img" >
                            <img class="main__articleImg" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                        </div>
                        <div class="article-text">
                            <p class="precio">$70.000</p>
                            <p class="descuento">5% off</p>
                            <i class="fa-solid fa-truck main-fa-truck"></i>
                        </div>
                        <div class="article-bottom">
                            <p class="article-title">Samsung Galaxy S10</p>
                        </div>
                    </article>
                    
                    
                    <article class="main-article">
                        <div class="article-img" >
                            <img class="main__articleImg" src="/images/img-tv-samsung-smart.jpg" alt="Samsung Smart TV 43'">
                        </div>
                        <div class="article-text">
                            <p class="precio">$100.000</p>
                            <p class="descuento">30% off</p>
                            <i class="fa-solid fa-truck main-fa-truck"></i>
                        </div>
                        <div class="article-bottom">
                            <p class="article-title">Samsung Smart TV 43"</p>
                        </div>
                    </article>
    
                </div>    
        </section>
        </main>
        <footer>
            <section class="footer-block">
                
                <div class="footer-section">
                    <div class="footer-tarjeta" >
                        <i class="fa-solid fa-credit-card footer-tarjeta-style"></i>
                    </div>
                    <h3 class="footer-titular">Pagá con tarjeta o en efectivo</h3>
                    <p class="footer-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div>
                
                <div class="footer-section">
                    <div class="footer-tarjeta" >
                        <i class="fa-solid fa-gift footer-tarjeta-style"></i>
                    </div>
                    <h3 class="footer-titular">Envío gratis desde $ 2.500</h3>
                    <p class="footer-texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>
                
                <div class="footer-section">
                    <div class="footer-tarjeta" >
                        <i class="fa-solid fa-user-shield footer-tarjeta-style"></i>
                    </div>
                    <h3 class="footer-titular">Seguridad, de principio a fin</h3>
                    <p class="footer-texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@
                    </p>
                </div>
                
            </section>
            <p class="copyright">Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
        
        </footer>
    </body>
</html>