.login-title {
    color: #666;
    font-size: 22px;
    font-weight: 600;
    padding: 12px 0 6px 18px;
    text-align: center;
    
}

.container {
    margin: 10px 12px 0 18px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.form-control label {
    margin-bottom: 3px;
    font-size: 14px;
    color: #111;
}

.bgColorFFF {
    background-color: #fff;
}


.form-control input, select {
    border: 1px solid #999;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    font-size: 13px;
    background-color: #fff;
    width: 280px;
}

.form-control input:focus {
    outline: 0;
    border-color: #111;
}

.form-control.success input, select {
    border-color: #118a43;
    border: 2px solid #118a43;
}

.form-control.error input, select {
    border-color: #db3422;
    border: 2px solid #db3422;
}

.form-control small {
    font-size: 12px;
    font-weight: bold;
    padding: 3px 0 3px 13px;
    color: #db3422;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    cursor: pointer;
    width: 45%;
    border: solid 1px #1259c3;
    background: #1259c3;
    color: #fff;
    border-radius: 6px;
    height: 33px;
    gap: 10px;
}

.form button:hover {
    border: solid 1px #041630;
    background: #041630;
    transition-property: background-color;
    transition-duration: 0.75s;
}

.submit-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 10px;
    
}
.user-profile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 10px;
    
}

.submit-buttons > button > a{
    text-decoration: none;
    color:#fff;
} 

.radio-label{
    width: 50px;
}

.user-profile{
    width: 30%;
    display: flex;
}



.categorias-intereses{
    display: flex;
    flex-direction: column;
}

.user-interests{
    display: flex;
    flex-direction: column;
}



@media (min-width: 500px) {
    .form-control input {
        width: 430px;
    }
}